<!-- Help Page -->
<%- include ('header2.html') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Help
                <small>Here is a brief introduction of Crowd Jigsaw.</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> CJP </a>
                </li>
                <li class="active">Help</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <hr style="height:5px;border:none;border-top:5px groove skyblue;" />
            <h3 class="mdl-typography--text-center mdl-typography--display-1">Click Here:
                <a class="mdl-typography--font-light" href="https://github.com/Symbolk/CrowdJigsaw">
                    <i class="fa fa-github fa-lg fa-spin fa-fw"></i>
                </a> for more details.</h3>
                <div class="col-lg-8 col-md-8 col-sm-10" id="content"></div>
        </section>
        <!-- /.content -->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            $.get("/README.md", function (response, status, xhr) {
                $("#content").html(marked(response));
            });
                // document.getElementById('content').innerHTML = marked("");
        </script>
    </div>
    <%- include ('footer2.html') %>