<link rel='stylesheet' href='/stylesheets/jigsaw.css' />
<script type="text/javascript" src="/javascripts/paper-full.js"></script>
<script type="text/javascript" src="/javascripts/socket.io.js"></script>

<%- include ('header.html') %>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
            <div class="modal fade" id="ensure_quit_dialog" tabindex="-1" role="dialog" aria-labelledby="quitLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            </button>
                            <h4 class="modal-title" id="quitLabel">
                                Are You Sure to Quit?
                            </h4>
                        </div>
                        <div class="modal-body rating-body" style="text-align:center;">
                            <h4 class="text-center text-nowrap text-danger">What do you think about the hint?</h4>
                            <!-- <input id="rating" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm" showClear="false" data-default-caption="{rating} hearts"> -->
                            <input id="rating" required class="rb-rating" type="text" value="" title="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="apply-button">
                                OK
                            </button>
                            <button type="button" class="btn btn-primary" id="cancel-button" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="finish_dialog" tabindex="-1" role="dialog" aria-labelledby="msgLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="msgLabel">
                                Congratulations!
                            </h4>
                        </div>
                        <div class="modal-body rating-body" style="text-align:center;">
                            <h4 class="text-center text-nowrap text-danger">What do you think about the hint?</h4>
                            <input id="rating2" required class="rb-rating" type="text" value="" title="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="submit-button">
                                OK
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="show_hints_dialog" tabindex="-1" role="dialog" aria-labelledby="msgLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="msgLabel">
                                Getting help from the crowd...
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-center text-nowrap text-danger" id="round_id"><i class="fa fa-spin fa-spinner fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="mask" id="loading">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>

            <div class="solution">
                <img id="puzzle-image" class="puzzle-image" style="display: none;" />
                <img width="128" height="128" id="empty" style="display: none;" src="images/empty.png" />
            </div>

            <main class="puzzle">
            </main>

            <div class="htmleaf-container">
                <div class="htmleaf-content">
                    <div class="center menu">
                        <div id="myMenu"></div>
                    </div>
                </div>
            </div>

        <div id = button_group>
            <span id="steps_chip" class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white" style="font-size: 12px">Step</span>
                <span id="steps" class="mdl-chip__text">0</span>
                <!--<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="show_steps" style="left: 85px; position: absolute; margin: 5">-->
                    <!--<input type="checkbox" id="show_steps" class="mdl-switch__input" checked>-->
                    <!-- <span class="mdl-switch__label"></span> -->
                </label>
                <!-- <button type="button" class="mdl-chip__action" id="stepButton"><i class="fa fa-close"></i></button> -->
            </span>
            <span id="timer_chip" class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white" style="font-size: 12px">Time</span>
                <span id="timer" class="mdl-chip__text">00:00:00</span>
                <!-- <button type="button" class="mdl-chip__action"><i class="fa fa-close"></i></button> -->
                <!--<label id="timer_switch" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="show_timer" style="left: 85px; position: absolute; margin: 5">-->
                    <!--<input type="checkbox" id="show_timer" class="mdl-switch__input" checked>-->
                    <!-- <span class="mdl-switch__label"></span> -->
                </label>
            </span>
        </div>

            <img src="images/undo.png" id="undo_button" />

            <script type="text/javascript">
                var player_name = '<%-player_name-%>';
                var solved_players = '<%-solved_players-%>';
                var level = '<%-level%>';
                level = parseInt(level);
                var roundID = '<%-roundID%>';
                roundID = parseInt(roundID);

                var serverStartTime = '<%-startTime%>';
                serverStartTime = Date.parse(serverStartTime);

                var imgSrc = '<%-image%>';
                var tileWidth = '<%-tileWidth%>';
                tileWidth = parseInt(tileWidth);

                var players_num = '<%-players_num%>';
                players_num = parseInt(players_num);

                var roundShape = '<%-shape%>';
                var hasEdge = '<%-edge%>';
                var hasBorder = '<%-border%>';

                var imageWidth = '<%-imageWidth%>';
                var imageHeight = '<%-imageHeight%>';

                var tilesPerRow = '<%-tilesPerRow%>';;
                var tilesPerColumn = '<%-tilesPerColumn%>';

                var shapeArrayStr = '<%-shapeArray%>';
                var shapeArray = JSON.parse(shapeArrayStr);

                document.querySelector('.puzzle-image').width = imageWidth;
                document.querySelector('.puzzle-image').height = imageHeight;
                document.querySelector('.puzzle-image').src = imgSrc;

                var myCanvas = document.createElement("canvas");
                myCanvas.setAttribute("width", screen.availWidth);
                myCanvas.setAttribute("height", screen.availHeight);
                myCanvas.setAttribute("id", "canvas");
                myCanvas.setAttribute("class", "canvas");
                document.querySelector('.puzzle').appendChild(myCanvas);
            </script>
            </script>
            <script type="text/paperscript" canvas="canvas" src="/javascripts/jigsaw.js"></script>
            <script type="text/javascript" src="/javascripts/intro.js"></script>
            </body>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.js'></script>
    <script src="/javascripts/menu.js"></script>
    <%- include ('footer.html') %>