<%- include ('header.html') %>
    <div class="page-splash">
            <h3>
                <%= title %>
            </h3>
            <!-- <h2 class="mdl-color-text--white mdl-typography--text-center">Crowd Jigsaw Puzzle</h2> -->
            <form action="" method="post">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet"></div>
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                            <h3 class="mdl-card__title-text mdl-typography--text-center">Register with Username &amp; Password</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input mdl-cell--middle" type="text" id="username" name="username">
                                <label class="mdl-textfield__label" for="username">Username</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input mdl-cell--middle" type="password" id="password" name="password">
                                <label class="mdl-textfield__label" for="password">Password</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input mdl-cell--middle" type="password" id="passwordSec" name="passwordSec">
                                <label class="mdl-textfield__label" for="passwordSec">Password Again</label>
                            </div>
                            <br />
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin:0 auto;" id="signup" name="signup">Register!</button> &nbsp;&nbsp;&nbsp;
                            <hr style="height:5px;border:none;border-top:5px groove skyblue;" />
                            <div class="fuzq_input_wrap">
                                Already got an account? Just
                                <a href="/login">Login!</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mdl-cell mdl-cell--4-col"></div> -->
                </div>
            </form>
    </div>
    
    <%- include ('footer.html') %>
    <%- include ('toast.html') %>
